## Identifying and removing the Duplicate values

In [ ]:
# Importing all the important libraries
import pandas as pd
import numpy as np

In [22]:
# Importing the dataset in csv format using pandas.
data = pd.read_csv("heart-disease.csv")
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [23]:
# Getting the shape of the dataframe
data.shape

(308, 14)

In [24]:
# Checking for the duplicate values
data[data.duplicated(keep=False)]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
163,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1
242,64,1,0,145,212,0,0,132,0,2.0,1,2,1,0
285,46,1,0,140,311,0,1,120,1,1.8,1,2,3,0
288,57,1,0,110,335,0,1,143,1,3.0,1,1,3,0
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
290,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
303,64,1,0,145,212,0,0,132,0,2.0,1,2,1,0
304,46,1,0,140,311,0,1,120,1,1.8,1,2,3,0
305,57,1,0,110,335,0,1,143,1,3.0,1,1,3,0
306,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
307,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0

In [25]:
# Totalling the all duplicate values.
duplicate = data.duplicated()
sum(duplicate)

6

In [26]:
# Removing the duplicate value by using the function drop_duplicates()
remove_duplicate = data.drop_duplicates()

In [27]:
# Now comparing the shape before and after removing the duplicate values.
data.shape, remove_duplicate.shape

((308, 14), (302, 14))